*{
    box-sizing: border-box;
}

body{
    padding: 0;
    margin: 10px, 0px, 0px, 0px;

}
.mainContainer{
   
    position: relative;
    text-align: center;
}
.clock_logo{
    position: absolute;
    margin-top: 20px;
    margin-right: 80%;
    font-size: 1.6rem;
}
.cloud{
    position: absolute;
    margin-top: 20px;
    margin-left: 80%;
    font-size: 1.6rem;
}
    .main{
         display: flex;
        flex-wrap: wrap;
        justify-content: center;
        gap: 2rem;
        
           
    }
    .day > input{
        text-align: center;
        width: 4.6rem;
        color: whitesmoke;
        background: none;
        border: none;
    }

    .box1 {
    background-color: rgb(10, 10, 10);
    box-shadow: 0px 0px 7px 3px grey;
    width: 20rem;
    height: 90vh;
    border-radius: 30px;
    position: relative;
    display: flex;
    justify-content: center;
    color: whitesmoke;
    
    
        
}
.timeZone{
    position: absolute;
    margin-top: 40px;
}
    .clockBox{
        box-shadow: 0px 0px 5px 2px grey;
        width: 16rem;
        height: 15rem;
        position: absolute;
        border-radius: 50%;
        top: 20%;
        
        
    }
    .hr, .mn{
        width: 100px;
        background: none; 
        font-size: 3rem;
        font-weight: bolder;
        outline: hidden;
        border: none;
        position: absolute;
        top: 68px;
        color: whitesmoke;
        
        
    }
    input:nth-child(1){
        left: 56px;

    }
    /* input:nth-child("even"){
        left: 886px;
    } */
    input:nth-child(3){
        right: 16px;
    }
    
  
    .time{
        display: flex;
        flex-wrap: wrap;
        flex-grow: 0.7;
        justify-content: center;
        align-items: center;
        margin-top: 20%;
        font-size: 4rem;
        
       
    }

   
    .alarmBox{
        box-shadow: 0px 0px 2px 3px grey;
        border-radius: 30px;
                width: 70px;
        height: 30px;
        margin-top: 8%;
        margin-left: 36%;
        display: flex;
        justify-content: center;
        align-items: center;
        flex-wrap: wrap;
        text-align: center;
        
        /* flex-grow: 0.6px; */
    }
    .almHr{
        width: 24px;
        text-align: right;
        color: white;
        background: none;
        border: none;
        margin-right: 0px ;
        text-shadow: 0px 0px 2px 2px grey;
        
    }
    .almMn{
        width: 24px;
        /* font-size: 10px; */
        text-align: right;
        color: white;
        background: none;
        text-align: center;
        border: none;
       

    }
    .date{
        position: absolute;
        margin-top: 120%;
    }
    .actualDate{
        display: flex;
    }
    .actualDate > input{
        width: 40px;
        text-align: center;
        background: none;
        color: whitesmoke;
        border: none;
        font-size: 1rem;
        line-height: 40px;
    }
    .actualDate >input:nth-child(1){
        width: 30px;
       
       
    }
    .actualDate >input:nth-child(2){
        width: 30px;
    }

.box2{
    /* border: 2px solid black; */
    box-shadow: 0px 0px 6px 2px grey;
    width: 20rem;
    height: 90vh;
    border-radius: 30px;
    display: inline-block;
    background-color:  rgb(10, 10, 10);
    color: whitesmoke;
}
hr{
    outline: none;
    color:  2px solid black;
}
.alarms{
/* border: 2px solid white; */
border-width: 100%;
margin-left: 5px;

}
 .alm_setting{
        margin-top: 0px;
        margin-left: 0px;
       width: 100%;
       
        
    }
 .almText{
    width: 0%;
    margin-top: 10px;
    
   
}
.alarm_logo{
    font-size: 2rem;
    color:whitesmoke;
    
    margin-top: 1rem;
    
}
.timer_setting{
     margin-top: 50px;
        margin-left: 0px;
       width: 100%;
          
}
.addAlarm{
    box-shadow: 0px 0px 2px 2px grey;
    width: 40%;
    border: none;
    border-radius: 70px;
    margin-top: 20px;
    margin-left:-170px;
    padding: 6px;
    font-size: 1rem;
    font-weight: bolder;
    text-align: center;
    background: none;
    color:whitesmoke;
}
.addTimer{
       box-shadow: 0px 0px 2px 2px grey;
    width: 40%;
    border: none;
    border-radius: 70px;
    margin-top: 0px;
    margin-left:-170px;
    padding: 6px;
    font-size: 1rem;
    font-weight: bolder;
    text-align: center;
    background: none;
    color:whitesmoke;
    
}
.addTimer2{
       box-shadow: 0px 0px 2px 2px grey;
    width: 80%;
    border: none;
    border-radius: 70px;
    margin-top: 120px;
    margin-left:0px;
    padding: 6px;
    font-size: 1rem;
    font-weight: bolder;
    text-align: center;
    background: none;
    color:whitesmoke;
    
}
.addTimer2 > .plus{

}
.addTimer > span{
    margin-left: -20px;
    letter-spacing: 10px;
}
.plus{
    
    font-weight: bolder;
}
h4{
   /* position: absolute;   */
   
  
   
}
.setAlarm{
    width: 100%;
    display: flex;
    margin-top: -20px;
    color: white;
    
   
}
.setTimer{
    width: 100%;
    display: flex;
    margin-top: -20px;
    color: white;
    margin-left: 10px;
}
.setHr, .setMn{
    width: 3rem;
    height: 3rem;
    font-size: 2rem;
    font-weight: bold;
    text-align:center;
    background: none;
    border: none;
     color: whitesmoke;
    text-shadow: 0px 0px 2px  white;
}
.setTmHr, .setTmMn{
     width: 3rem;
    height: 3rem;
    font-size: 2rem;
    font-weight: bold;
    text-align:center;
    background: none;
    border: none;
     color: whitesmoke;
    text-shadow: 0px 0px 2px  white;
}


.toggle > label{
    margin-right: -20rem;
    margin-top: .5rem;

}
.toggle2 > label{
    
    bottom: 2.4rem;
    left:  6.7rem;

}
.switch {
  position: relative;
  display: inline-block;
  width: 60px;
  height: 34px;
  
}

.switch input { 
  opacity: 0;
  width: 100px;
  height: 0px;
}

.slider {
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgb(0, 0, 0);
  -webkit-transition: .4s;
  transition: .4s;

}

.slider:before {
  position: absolute;
  content: "";
  height: 26px;
  width: 26px;
  left: 4px;
  bottom: 4px;
  background-color: rgb(241, 7, 7);
  -webkit-transition: .4s;
  transition: .4s;
}

input:checked + .slider {
  background-color: rgba(0,0,0,.5);
}
input:checked + .slider:before{
    background-color: rgb(13, 230, 49);
    box-shadow: 0px 0px 2px 2px black;
}

input:focus + .slider {
  box-shadow: 0 0 1px #2196F3;
}

input:checked + .slider:before {
  -webkit-transform: translateX(26px);
  -ms-transform: translateX(26px);
  transform: translateX(26px);
}

/* Rounded sliders */
.slider.round {
  border-radius: 34px;
}

.slider.round:before {
  border-radius: 50%;
}