* {
  box-sizing: border-box;
}

html {
  padding-top: 50px;
}

body {
  border: 8px solid lightgreen;
  border-radius: 20px;
  padding: 40px;
  width: 60%;
  height: 400px;
  margin: 0 auto;
  background: url("https://www.goodfreephotos.com/albums/other-photos/angel-entering-heaven-with-light.jpg");
}

.container-fluid h1 {
  text-align: center;
  color: aqua;
}

.primary {
  color: azure;
  font-style: italic;
  font-weight: bold;
  text-align: center;
}
